.title-page {
  width: 100%;
  height: 25px;
  font-weight: 500;
  margin-bottom: 23px;
  margin-top: 18px;
  padding: 0px 10px;
  color: white;
  border-right: 3px solid var(--primary);
}

.cards-film {
  width: 100%;
}

.cards-film .conteiner {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  align-items: flex-start !important;
}

.card-film {
  width: 16%;
  height: 310px;
  margin-bottom: 10px;
  background-color: #363636;
  position: relative;
  transition: .3s ease;
  border: 1px solid transparent;
}

.card-film:hover {
  border: 1px solid rgb(68, 68, 68);
}

.card-film img {
  width: 100%;
  height: 100%;
}

.card-film:hover .ovarly-film {
  opacity: 1;
}

.ovarly-film {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(transparent, #30303086, #303030);
  overflow: hidden;
  opacity: 0;
  transition: .4s ease;
}

.det-ovarly-film {
  width: 44px;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 25px 0px;
  align-items: center;
  position: absolute;
  top: -50%;
  background-color: #303030ef;
  transition: .4s ease;
}

.ovarly-film:hover .det-ovarly-film {
  position: absolute;
  top: 0%;
}

.det-ovarly-film .iconify {
  color: white;
  font-size: 22px !important;
  transition: .3s ease-in-out;
}

.det-ovarly-film .iconify:hover {
  color: var(--primary);
}

.det-ovarly-film a {
  font-size: 13px;
  color: yellow;
}

.d-link {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: fit-content;
  padding: 10px 12px 14px 10px;
}

.d-link a {
  font-size: 15px;
  color: white;
  transition: .3s ease;
  font-weight: 500;
}

.d-link:hover a {
  color: rgb(221, 221, 221) !important;
}

.play-icon {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
  transition: .4s ease;
}

@media (max-width:667px) {
  .title-page {
    margin-bottom: 23px;
    margin-top: 90px;
  }

  .card-film {
    width: 49%;
    height: 260px;
  }

  .play-icon {
    left: 38%;
  }

  .det-ovarly-film {
    padding: 20px 0px;
  }
}

@media screen and (min-width:667px) and (max-width:1023px) {
  .title-page {
    margin-bottom: 23px;
    margin-top: 90px;
  }

  .card-film {
    width: 24%;
    height: 250px;
  }
}

@media screen and (min-width:1024px) and (max-width:1470px) {
  .title-page {
    margin-bottom: 23px;
    margin-top: 90px;
  }

  .card-film {
    width: 19%;
    height: 250px;
  }
}



/* popup */


span.video-popup3 {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  transition: 0s !important;
  z-index: 99999999999999999999999999999999999999999999999999;
  display: none;
}

span.video-popup3.show {
  transition: 0s !important;
  display: block;
}

span.iframe-wrapper3 {
  width: 60.7%;
  transition: 0s !important;
  background-color: #303030;
  position: absolute;
  padding: 25px 25px 25px 25px;
  top: 50%;
  left: 50.5%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 10px #383838;
  border-radius: 4px;
}

.header-intro {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center !important;
  position: relative;
  transition: 0s !important;
  margin-bottom: 10px;
}

.header-intro h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: auto;
  padding: 0px !important;
  box-sizing: border-box !important;
  text-align: center !important;
  color: rgb(211, 211, 211);
  font-weight: 400;
  font-family: var(--primary);
  font-size: 25px;
}

iframe {
  width: 100%;
  height: 475px;
  border-radius: 2px;
  overflow: hidden;
  background-color: #383838;
}

span.close-video3 {
  height: 32px;
  width: 32px;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgb(51, 51, 51);
  background-color: #3a3a3a;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -1px;
  right: 0;
  border-radius: 50px;
  transition: .3s ease;
}

span.close-video3:hover {
  background-color: #3f3f3f;
}

span.close-video3 .iconify {
  color: rgb(211, 211, 211);
}

span.video-close-icon {
  font-size: 10px;
  color: white;
}



@media (max-width:667px) {
  iframe {
    height: 180px;
  }

  span.iframe-wrapper3 {
    width: 95%;
    padding: 20px 20px 33px 20px;
  }

}

@media screen and (min-width:667px) and (max-width:1023px) {
  iframe {
    height: 400px;
  }

  span.iframe-wrapper3 {
    width: 95%;
  }
}

@media screen and (min-width:1024px) and (max-width:1470px) {
  iframe {
    height: 500px;
  }

  span.iframe-wrapper3 {
    width: 90%;
    margin: auto;
  }
}

/* pagintion */


.p-pagination {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.pagination ul {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  background: transparent;
  padding: 8px;
}

.pagination ul li {
  border-radius: .25rem !important;
  margin: 0 2px !important;
  font-weight: 500;
  padding: 10px 15px;
  border: none;
  background: #ffffff1a;
  color: #fff;
  font-size: 15px;
  box-shadow: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
}

.pagination ul li:hover {
  background-color: #ffffff31 !important;
}

.pagination .iconify {
  position: relative;
  top: 3px;
}

.pagination ul li.numb {
  list-style: none;
  height: 45px;
  width: 45px;
  margin: 0 3px;
  line-height: 45px;
  border-radius: 50%;
}

.pagination ul li.numb.first {
  margin: 0px 3px 0 -5px;
}

.pagination ul li.numb.last {
  margin: 0px -5px 0 3px;
}

.pagination ul li.dots {
  font-size: 22px;
  cursor: default;
}

.pagination ul li.btn {
  padding: 0 20px;
  border-radius: 50px;
}

.pagination li.active,
.pagination ul li.numb:hover,
.pagination ul li:first-child:hover,
.pagination ul li:last-child:hover {
  color: #fff;
  background: var(--primary);
}

.pagination li.active:hover {
  background-color: var(--primary) !important;
}

@media (max-width:667px) {
  .p-pagination {
    width: 100%;
    margin: auto;
    margin-top: 20px;
  }
}

/* End pagintion */