body {
  font-family: var(--font);
  font-size: 1rem;
  text-align: right;
  direction: rtl;
  background: #303030 url(../img/bg-pm.png);
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}


.conteiner {
  width: 83.5% !important;
  margin: auto;
  position: relative;
}

#conteiner2 {
  width: 88% !important;
  position: relative;
  right: 1.9%;
}

.conteiner3 {
  width: 95.1%;
}

@media (max-width:667px) {

  .conteiner {
    width: 92% !important;
  }

  #conteiner2 {
    width: 92% !important;
    position: relative;
    right: 0%;
  }

  .conteiner3 {
    width: 100% !important;
  }


}

@media screen and (min-width:667px) and (max-width:1023px) {

  .conteiner {
    width: 90% !important;
  }

  #conteiner2 {
    width: 90% !important;
    position: relative;
    right: 0%;
  }

  .conteiner3 {
    width: 100% !important;

  }

}

@media screen and (min-width:1024px) and (max-width:1470px) {
  .conteiner {
    width: 95% !important;
  }

  #conteiner2 {
    width: 95% !important;
    position: relative;
    right: 0%;
  }

  .conteiner3 {
    width: 100% !important;
  }

}

.title-page {
  text-align: center;
  color: var(--primary2);
  margin-top: 15px;
  font-size: 28px;
  margin-bottom: 28px;
}

.title-2 {
  text-align: center;
  color: var(--primary2);
  margin-top: 25px;
  margin-bottom: 30px;
  width: 100%;
  font-size: 28px;
}

.parent {
  width: 100%;
  display: flex !important;
  justify-content: space-between;
}

.parent .conteiner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: wrap row;
}

.right-card {
  width: 50%;
}

.card_bg {
  background-color: #363636 !important;
  width: 100%;
  height: 100%;
  padding: 20px 0px;
  border-radius: 6px;
}

.title-card_bg {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 9px 8px;

}

.active-right {
  color: white !important;
}

.title-card_bg:hover {
  background-color: rgba(0, 0, 0, .1);
}

.title-card_bg:hover p {
  color: white !important;
}

.Icon-Div {
  width: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Icon-Div img {
  max-height: 27px;
}

.Icon-Div .iconify {
  color: #b9b9b9;
  font-size: 18px;
}

.title-card_bg p {
  color: #b9b9b9;
  font-size: 15px;
  font-weight: 500;
}


.hr-right {
  outline: none !important;
  border: none !important;
  border-bottom: 1px solid #424242 !important;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
}

.hr-left {
  outline: none !important;
  border: none !important;
  border-bottom: 1px solid #424242 !important;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
}


.left-card {
  width: 50%;
  padding: 0px 15px 0px 0px;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap row;
}

.card-w50 {
  width: 49%;
  margin-bottom: 18px;
  background-color: #363636 !important;
  padding: 21px 0px;
  border-radius: 6px;
}

.card-w100 {
  width: 100%;
  margin-bottom: 18px;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap row;
  padding: 20px 20px;
  border-radius: 6px;
}

#title100 {
  width: 100%;
}

.card-w50 h2 {
  color: rgb(212, 212, 212) !important;
  text-align: center;
  font-size: 15px;
  margin-bottom: 16px;
}

.card-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 7.4px 20px !important;
}

.card-left:hover {
  background-color: rgba(0, 0, 0, .1);
}

.card-left50 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 48%;
}

.card-left div {
  display: flex;
  align-items: center;
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.card-left div p {
  font-weight: 500;
  font-size: 13px;
  color: rgb(187, 187, 187);
}

.card-left p {
  font-weight: 500;
  font-size: 13px;
  color: rgb(187, 187, 187);
}

.point-left {
  width: 7px;
  height: 7px;
  margin-left: 5px;
  background-color: var(--primary);
  border-radius: 100px;
  position: relative;
}






@media screen and (min-width:1px) and (max-width:1470px) {



  .title-page {
    margin-top: 90px;
  }

  .right-card {
    width: 100%;
  }

  .card_bg {
    padding: 15px 0px;
  }

  .Icon-Div {
    width: 40px;
    min-width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .Icon-Div img {
    max-height: 28px;
  }

  .title-card_bg p {
    font-size: 13px;
  }

  /* left */


  .left-card {
    width: 100%;
    margin-top: 18px;
    padding: 0px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap row;
  }

  .card-w50 {
    width: 100% !important;
    margin-bottom: 18px;
    padding: 15px 0px;
  }

  .card-w100 {
    width: 100%;
    margin-bottom: 18px;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap row;
    padding: 20px 18px;
  }

  #title100 {
    width: 100%;
  }

  .card-w50 h2 {
    color: rgb(212, 212, 212) !important;
    text-align: center;
    font-size: 15px;
    margin-bottom: 16px;
  }

  .card-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 11px 14px;
  }

  .card-left50 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;

  }

  .card-left div {
    display: flex;
    align-items: center;
    color: white;
    font-size: 14px;
    font-weight: 500;
  }

  .card-left div p {
    font-weight: 500;
    font-size: 13px;
    color: rgb(187, 187, 187);
  }

  .card-left p {
    font-weight: 500;
    font-size: 13px;
    color: rgb(187, 187, 187);
  }





}


/* End parent one */



.parent2 {
  width: 100%;
}

.parent2 .conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap row;
}

.parent2 .conteiner>a {
  width: 24%;
  border-radius: 50px;
}

.card-25 {
  padding: 7px 20px 7px 10px;
  width: 100%;
  border-radius: 50px;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-25>.text-card25>p {
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.left-text {
  background-color: #00000091;
  border-radius: 50px;
  padding: 6px 17px;
  transition: .3s ease;
}

.left-text p {
  color: white;
  font-size: 14px;
}

.text-card25 span {
  padding: 2px 8px;
  border-radius: 2px;
  background-color: #343a40;
}

.card-25:hover .left-text {
  background-color:#00000062;
}

@media (max-width:667px) {
  .parent2 .conteiner>a {
    width: 100%;
    margin-bottom: 18px;
  }

  .card-w100 {
    padding: 20px 0px !important;
  }

}

@media screen and (min-width:667px) and (max-width:1470px) {
  .parent2 .conteiner>a {
    width: 48%;
    margin-bottom: 18px;
  }

}